NEXT_PUBLIC_RPC_URL=https://data-seed-prebsc-1-s1.bnbchain.org:8545
NEXT_PUBLIC_CHAIN_ID=97
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_MARKETPLACE_ADDRESS=
NEXT_PUBLIC_PANCAKE_V3_SWAP_ROUTER=0x1b81D678ffb9C0263b24A97847620C99d213eB14
NEXT_PUBLIC_PANCAKE_V3_QUOTER_V2=0xbC203d7f83677c7ed3F7acEc959963E7F4ECC5C2
NEXT_PUBLIC_PINATA_GATEWAY_URL=
RPC_URL=https://data-seed-prebsc-1-s1.bnbchain.org:8545
BONDFORGE_SERVER_RPC_URL=https://data-seed-prebsc-1-s1.bnbchain.org:8545
PRIVATE_KEY=
KEEPER_PRIVATE_KEY=
CRON_SECRET=
PINATA_JWT=
PINATA_GATEWAY_URL=
PANCAKE_V3_POSITION_MANAGER=0x427bF5b37357632377eCbEC9de3626C71A5396c1
PANCAKE_V3_SWAP_ROUTER=0x1b81D678ffb9C0263b24A97847620C99d213eB14
BSCSCAN_API_KEY=
